@charset "utf-8";
/* CSS Document */

h1,h2,h3,h4,ul{ margin-left: 0px; margin-right: 0px; margin-top:0px; padding-left: 4px; padding-right: 4px;}
body,html {
	font-family: KFGQPC Uthman Taha Naskh Bold, sans, open sans, sans-serif, arial, helvetica;
	font-size: 18px;
	color: #000;
	background-color:#fff;

}

@font-face {
    font-family: KFGQPC Uthman Taha Naskh Bold;
    src: url("file:///android_asset/font.ttf")
}

h2 { padding-bottom: 5px;     padding-top: 5px;     font-size: 22px;     margin-bottom: 10px;
                                                                           text-align: center;    border-style: solid;  background-color: #F8ECE0;
                                                                            border-bottom: solid 5px #DF7401;     border-top: solid 5px #DF7401;  border-left: 0px;     border-right: 0px;     border-radius: 0px;     line-height: 1;     font-family: "sans;georgia;arial" }


                                                               li {
                                                                   list-style-image: url('cek.png');
                                                                       text-align:left;
                                                                            padding-left:5px;
                                                               }

                                                                      #tb {
                                                                      	 width: 100%;
                                                                      	text-align: center;
                                                                      }

                                                                      img {max-width: 100%}

                                                                      .container {
                                                                      	position: relative;
                                                                        	text-align: center;
                                                                        	color: white;
                                                                      	}

                                                                      .image {
                                                                        opacity: 1;
                                                                        display: block;
                                                                        width: 100%;
                                                                        height: auto;
                                                                        transition: .5s ease;
                                                                        backface-visibility: hidden;
                                                                      }

                                                                      .container:active .image {
                                                                        opacity: 0.3;
                                                                      }

                                                                      .centered {
                                                                        position: absolute;
                                                                        top: 50%;
                                                                        left: 50%;
                                                                        transform: translate(-50%, -50%);
                                                                      color: black;
                                                                      }



a, a:link, a:active, a:visited {
	text-decoration: none;
	color:#000;
	font-weight: bold;
}
ul { list-style: none; }
h3 a:link, h3 a:active, h3 a:visited,h3 a {
	color: #000;
}
#header h2 a:link, #header h2 a:active, #header h2 a:visited, #header h2 a {
	display:block;
	color: #000;
}

h1 { margin-bottom: 15px; }
img {max-width: 100%}
#header {
	display:none;
}
#headbox {
	display:none;
}
#headbox h3 { color: #fff; padding-top: 4px; }
.logo{
	margin-bottom: 6px;
	width: 220px;
}
.logo2{
	margin-bottom: 6px;
	width: 142px;
}
.logo3{
	margin-bottom: 6px;
	width: 50%;
	max-width: 250px;
	border-radius:3px 3px 3px 3px;
}

.logo5{
	margin-bottom: 6px;
	width: 75%;
	max-width: 250px;
	border-radius:3px 3px 3px 3px;
}

.logo2big{
	position: fixed;
	bottom:55px;
	left:10px;
	padding:0px;
	width: 0px;
	-webkit-transition: width 0.3s linear 0s;
	-webkit-box-shadow: 13px 0px 22px rgba(0,0,0,1);
	transition: width 0.3s linear 0s;
	z-index:10;
}
.logobig{
	position: fixed;
	bottom:55px;
	left:10px;
	padding:0px;
	width: 0px;
	-webkit-transition: width 0.3s linear 0s;
	-webkit-box-shadow: 13px 0px 22px rgba(0,0,0,1);
	transition: width 0.3s linear 0s;
	z-index:10;
}
.logo2:hover + .logo2big{
	width: 284px;
	border: 3px solid gray;
}
.logo:hover + .logobig{
	width: 138px;
	border: 3px solid gray;
}
.kotakmenu {
	padding: 3px;
	background-repeat: no-repeat;
	background-position: right center;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #A87808;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #FFD473;
	border-right-width: 4px;
	border-right-style: solid;
	border-right-color: #FFC440;
	border-left-color: #D1960A;
	height: 32px;
	border-left-width: 5px;
	border-left-style: solid;
	background-color:#FFB50D;
	background-image: url(images/arrowli.png);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}

.homemenu li{
	display:block;
	height: 32px;
}
.imgfloat { float: left; padding-left:3px; margin-right: 10px; }
.imgthumb {
	margin-bottom: 6px;
	height: 32px;
	width: 32px;
}
.peringatan {
	margin-bottom: 6px;
	height: 32px;
	width: 26px;
}
#home {
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
    font-family: KFGQPC Uthman Taha Naskh Bold;
}
#home h2{
	background-color: #999;
	display: block;
	padding: 0px;
	margin-bottom: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C30;
	color: #333;
}

#single {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#isi {
	padding:5px;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
}
#isi h2{
	padding: 5px;
	margin-bottom: 5px;
	text-align: center;
}


.kosong{
	clear: both;
	margin: 0px;
	padding: 0px;
}
.aligncenter{
	display: block;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
.alignleft{
	float: left; margin-right: 4px;
}
.alignright{	float: right;margin-left: 4px}

.kardus{
	text-align:center;
	width:100%;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	clear: both;
}
.navigasi{
	text-align:center;
	width:100%;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	clear: both;
}
p{text-align:center;margin:0;padding:0 0 10px}
.meta{	font-size: 11px;}

.footer{
	width: 100%;
	height: 39px;
	background-color:#666;
	position: fixed;
	bottom:0px;
	left:0px;
	padding:0px;
	margin-left: 0px;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color:#F23A90;
	background-color: #D4337E;
}
.go-home{
	position: fixed;
	top:5px;
	left:2%;
	padding:0px;
	width: 33px;
)




