@charset "utf-8";
/* CSS Document */

h1,h2,h3 { margin: 0px; padding: 0px;}
body,html {
	font-family: sans, open sans, Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	text-align:justify;
	background-image: url(images/bgtile.png);
}

h2 { padding-bottom: 5px;     padding-top: 5px;     font-size: 22px;     margin-bottom: 10px;
                                            text-align: center;    border-style: solid;  background-color: #F8ECE0;
                                             border-bottom: solid 5px #DF7401;     border-top: solid 5px #DF7401;  border-left: 0px;     border-right: 0px;     border-radius: 0px;     line-height: 1;     font-family: "sans;georgia;arial" }


                                li {
                                    list-style-image: url('cek.png');
                                        text-align:left;
                                             padding-left:5px;
                                }

                                       #tb {
                                       	 width: 100%;
                                       	text-align: center;
                                       }

                                       img {max-width: 100%}

                                       .container {
                                       	position: relative;
                                         	text-align: center;
                                         	color: white;
                                       	}

                                       .image {
                                         opacity: 1;
                                         display: block;
                                         width: 100%;
                                         height: auto;
                                         transition: .5s ease;
                                         backface-visibility: hidden;
                                       }

                                       .container:active .image {
                                         opacity: 0.3;
                                       }

                                       .centered {
                                         position: absolute;
                                         top: 50%;
                                         left: 50%;
                                         transform: translate(-50%, -50%);
                                       color: black;
                                       }




@font-face {
    font-family: KFGQPC Uthman Taha Naskh Bold;
    src: url("file:///android_asset/font.ttf")
}

a, a:link, a:active, a:visited {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
ul { list-style: none; }
h3 a:link, h3 a:active, h3 a:visited,h3 a {
	/*warna tulisan di baris menu*/
	color: #000;
	display: block;
}
#header h2 a:link, #header h2 a:active, #header h2 a:visited, #header h2 a {
	display:block;
	color: #fff;
}

h1 { margin-bottom: 15px; }
img {max-width: 100%}
#header {
	display:none;
}
#headbox {
	display:none;
}
#headbox h2 { color: #fff; padding-top: 4px; }
#footer {
display:none
}
#footerbox {
	display:none;
}
#footerbox p {
	color: #666;
	text-align: center;

}

@media only screen and (min-width: 500px) {
  #homemenu li { float: left; width: 50%; }
}

#single {
	padding: 5px;
}

#isi {
font-family: KFGQPC Uthman Taha Naskh Bold;
	padding:2px;
	background-color: #fff;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#isi h2{
	padding: 2px;
	margin-bottom: 2px;
	text-align: center;
}


.kosong{
	clear: both;
	margin: 0px;
	padding: 0px;
}
.aligncenter{
	display: block;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
.alignleft{
	float: left; margin-right: 4px;
}
.alignright{	float: right;margin-left: 4px}

.kardus{
	text-align:center;
	width:100%;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	clear: both;
}
.navigasi{
	display:none;
}
p{text-align:justify;}
.desc{	font-size: 11px;}

#simple {
    margin: 0;
    padding: 0;

}

#simple li {
    background: #F7F2E0;
    border-bottom: 7px solid #fff;
    list-style: none;
    padding: 0.5em;
    text-align: center;

}

#simple li:hover {
    background: #808080;
}

#simple li a {
    color: black;
    display: block;
    text-decoration: none;
}




